@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="container bg-warning py-4">
    
        <div class="text-center text-white py-3">
            <h2 class="mb-4 display-4">About Our Delivery App</h2> 
            <p>
                Our app is designed to make your life easier by offering fast, reliable, and hassle-free delivery services right to your doorstep.
            </p>
        </div>
    </div>
</main>

<section id="how-it-works">
    <h3><b>How It Works?</b></h3>
    <p>
        Getting your items delivered is as easy as 1, 2, 3:
        <ol>
            <li>Choose your items from the restaurant you want to order</li>
            <li>Place your order and select from the given locations</li>
            <li>Receive your items at your doorstep.</li>
        </ol>
    </p>
</section>

<section id="our-mission">
    <h3><b>Our Mission</b></h3>
    <p>
        Our mission is to simplify and enhance the lives of our customers by providing a delivery solution that saves time, reduces stress, and brings food right to your doorstep.
    </p>
</section>