@{
    ViewBag.Title = "Contact";
}

<main>
    <div class="container text-center bg-warning py-4">
        <h1 class="font-weight-bold">@ViewBag.Title</h1>
    </div>

    <section class="contact-info mt-4">
        <div class="address text-center">
            <p><b>Our Address</b></p>
            <p>145 Banjara Hills</p>
            <p>Hyderabad, 500098</p>
        </div>
        <div class="phone mt-3 text-center">
            <p><b>Contact Number</b></p>
            <p>Phone: 937-098-9273</p>
        </div>
        <div class="email mt-3 text-center">
            <p><b>Email</b></p>
            <p>Email: FoodDelivery@gmail.com</p>
        </div>
    </section>

    <section class="business-hours mt-4 text-center">
        <p><b>Business Hours</b></p>
        <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
        <p>Saturday: 10:00 AM - 2:00 PM</p>
        <p>Sunday: Closed</p>
    </section>

    <section class="social-media mt-4 text-center" style="text-decoration:none">
        <p><b>Follow Us</b></p>
        <p><a href="#" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></p>
        <p><a href="#" target="_blank"><i class="bi bi-twitter-x"></i>Twitter</a></p>
        <p><a href="#" target="_blank"><i class="bi bi-instagram"></i>Instagram</a></p>

    </section>
</main>